html {
    --flex-gap: 2rem;
    --top-nav-height: 3.15rem;
    --side-nav-width: 11.25rem;
    --basic-padding: 2rem;
}

body {
    margin: 0;
    padding: 0;
}

* {
    /* outline: 1px solid red; */
}

.row {
    display: flex;
    gap: var(--flex-gap);
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

/* Typography styles */
.h1{
    font-family: Inter;
    font-size: 80px;
    font-weight: 600;
    line-height: 70px;
}

.h2 {
font-family: Inter;
font-size: 35px;
font-weight: 700;
line-height: 42.36px;
}

.p {
font-family: Inter;
font-size: 15px;
font-weight: 500;
line-height: 18.15px;
}