@media screen and (min-width: 0px) {}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(0.5 * var(--basic-padding));
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    height: var(--top-nav-height);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.search-bar {
    width: 30%;
    padding: 0.5rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
}

.self-service {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
}

.bell-icon {
    font-size: 24px;
    margin-left: 20px;
}

.filter-icon {
    padding-right: 1rem;
}

.side-nav {
    align-items: flex-start;
    gap: var(--flex-gap);
    padding: calc(0.5 * var(--basic-padding));
    position: fixed;
    top: calc(var(--top-nav-height) + var(--basic-padding) + 1px);
    bottom: 0;
    z-index: 1;
    overflow: auto;
    width: var(--side-nav-width);
}

.main-area {
    position: relative;
    left: var(--side-nav-width);
}